<div class="container">
    <div *ngIf="!isAdmin" class="log">
        <div class="centered-text">ВАЖНО! Тест можно пройти только один раз</div>
        <form class="login" *ngIf="!token" (ngSubmit)="login()">
            <input type="text" placeholder="Login" [(ngModel)]="user.name" name="name" />
            <input type="password" placeholder="Password" [(ngModel)]="user.password" name="password" />
            <button type="submit">Вход</button>
        </form>


        <div class="table-container" class="questionsr">

            <form *ngIf="token">
                <div *ngFor="let question of questions; let i = index">
                    <h2> {{ i + 1 }}: {{ question.question }}</h2>
                    <label>
                        <input type="radio" name="{{ 'answer' + i }}" [value]="1" [(ngModel)]="answers[i]" />
                        {{ question.option1 }}
                    </label>
                    <br />
                    <label>
                        <input type="radio" name="{{ 'answer' + i }}" [value]="2" [(ngModel)]="answers[i]" />
                        {{ question.option2 }}
                    </label>
                    <br />
                    <label>
                        <input type="radio" name="{{ 'answer' + i }}" [value]="3" [(ngModel)]="answers[i]" />
                        {{ question.option3 }}
                    </label>
                    <br />
                    <label>
                        <input type="radio" name="{{ 'answer' + i }}" [value]="4" [(ngModel)]="answers[i]" />
                        {{ question.option4 }}
                    </label>
                    <br />
                    <label>
                        <input type="radio" name="{{ 'answer' + i }}" [value]="5" [(ngModel)]="answers[i]" />
                        {{ question.option5 }}
                    </label>
                    <br />
                </div>
                <button *ngIf="showSubmitButton" type="submit" [disabled]="!isFormValid()"  [class.not-allowed-icon]="!isFormValid()"  (click)="submitAnswers()"  >
                Отправить
              </button>
            </form>
        </div>

    </div>

    <div class="table-container" *ngIf="token && user.name === 'admin'">
        <div class="users_not_complet">
            <p style="font-weight: bold; text-align: center;">Количество пользователей, которые прошли тест: {{
                userCount }}
            </p>
            <h2>Пользователи, которые не прошли тест из таблицы:users</h2>
            <ul>
                <li *ngFor="let user of ArrUsers">{{ user }}</li>
            </ul>

        </div>
        <br>
        <div class="answer">
            <h2>Results</h2>
            <table>
                <tr>
                    <th>Вопрос</th>
                    <th>Group Name</th>
                    <th>Полностью согласен</th>
                    <th>Скорее согласен</th>
                    <th>Отчасти согласен, отчасти нет</th>
                    <th>Полностью не согласен</th>
                    <th>Затрудняюсь ответить, не могу оценить</th>
                </tr>
                <tr *ngFor="let result of results">
                    <td>{{ result.question }}</td>
                    <td>{{ result.group_name }}</td>
                    <td>{{ result.option1_count }}</td>
                    <td>{{ result.option2_count }}</td>
                    <td>{{ result.option3_count }}</td>
                    <td>{{ result.option4_count }}</td>
                    <td>{{ result.option5_count }}</td>
                </tr>
            </table>
        </div>
        <div class="button-get-user">
            <button (click)="saveTable()">Save Table</button>
        </div> <br>
        <hr>
        <h1 class="title">Получить пользователей из таблицы :<em>users</em></h1>
        <div class="form-container">
            <ul>
                <li *ngFor="let user of users">{{ user.name }}</li>
            </ul>
        </div>
        <hr>

        <h1 class="title">Изменить пароль юзеру в таблице:<em>users</em></h1>
        <div class="ChangeUserPassword">
            <form>
                <div>
                    <label for="createname">name:</label>
                    <input type="text" id="createname" [(ngModel)]="createname" name="createname" required>
                </div>
                <div>
                    <label for="new-password">Новый Password:</label>
                    <input type="text" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>
                </div>
                <button (click)="changePassword()">Click me!</button>

            </form>
        </div>
        <hr>

        <h1 class="title">Добавить новый вопрос в указанную таблицу :<em>questions</em></h1>
        <div class="addQuestion">
            <form (submit)="addQuestion()">
                <div>
                    <label for="question.group_id">group_id те id группы в которой сушесвует юзер:</label>
                    <input type="text" id="question.group_id" [(ngModel)]="CreateQuestion.group_id" name="group_id">
                </div>
                <div>
                    <label for="question">Вопрос:</label>
                    <input type="text" id="question" [(ngModel)]="CreateQuestion.question" name="question">
                </div>
                <div>
                    <label for="option1">Вариант ответа 1:</label>
                    <input type="text" id="question.option1" [(ngModel)]="CreateQuestion.option1" name="option1">
                </div>
                <div>
                    <label for="option2">Вариант ответа 2:</label>
                    <input type="text" id="question.option2" [(ngModel)]="CreateQuestion.option2" name="option2">
                </div>
                <div>
                    <label for="option3">Вариант ответа 3:</label>
                    <input type="text" id="question.option3" [(ngModel)]="CreateQuestion.option3" name="option3">
                </div>
                <div>
                    <label for="option4">Вариант ответа 4:</label>
                    <input type="text" id="question.option4" [(ngModel)]="CreateQuestion.option4" name="option4">
                </div>
                <div>
                    <label for="option5">Вариант ответа 5:</label>
                    <input type="text" id="question.option5" [(ngModel)]="CreateQuestion.option5" name="option5">
                </div>
                <button type="submit">Добавить вопрос</button>
            </form>
        </div>
        <hr>

        <h1 class="title">Получить ID вопроса в таблице с вопросами :<em></em></h1>
        <div class="getQuestions">
            <ul>
                <li *ngFor="let question of questions">
                  id вопроса: {{ question.id }} сам вопрос: {{ question.question }} имя группы: {{ question.group_name }}
                </li>
              </ul>
            <button (click)="getQuestions()">Получить список вопросов</button>
        </div>
        <hr>

        <h1 class="title">Обновить вопрос и ответы на него</h1>
        <div class="updateQuestion">
            <form (ngSubmit)="updateQuestion()">
                <div>
                    <label for="questionId">Question ID:</label>
                    <input type="number" id="questionId" [(ngModel)]="UpdateQuestion.id" name="questionId" />
                </div>
                <div>
                    <label for="question">Вопрос:</label>
                    <input type="text" id="question" [(ngModel)]="UpdateQuestion.question" name="question" />
                </div>
                <div>
                    <label for="option1">Вариант ответа 1:</label>
                    <input type="text" id="option1" [(ngModel)]="UpdateQuestion.option1" name="option1" />
                </div>
                <div>
                    <label for="option2">Вариант ответа 2:</label>
                    <input type="text" id="option2" [(ngModel)]="UpdateQuestion.option2" name="option2" />
                </div>
                <div>
                    <label for="option3">Вариант ответа 3:</label>
                    <input type="text" id="option3" [(ngModel)]="UpdateQuestion.option3" name="option3" />
                </div>
                <div>
                    <label for="option4">Вариант ответа 4:</label>
                    <input type="text" id="option4" [(ngModel)]="UpdateQuestion.option4" name="option4" />
                </div>
                <div>
                    <label for="option5">Вариант ответа 5:</label>
                    <input type="text" id="option5" [(ngModel)]="UpdateQuestion.option5" name="option5" />
                </div>
                <div>
                    <label for="group_id">Group ID:</label>
                    <input type="number" id="group_id" [(ngModel)]="UpdateQuestion.group_id" name="group_id" />
                </div>
                <button type="submit">Обновить вопрос</button>
            </form>
        </div>
        <hr>
        <h1 class="title">Создать нового юзера в users: </h1>
        <div class="createUsers">
            <form (ngSubmit)="addUser()">
                <div>
                    <label for="name">Имя:</label>
                    <input type="text" id="name" [(ngModel)]="CreatUser.name" name="name" />
                </div>
                <div>
                    <label for="password">Пароль:</label>
                    <input type="password" id="password" [(ngModel)]="CreatUser.password" name="password" />
                </div>
                <div>
                    <label for="group_id">Group ID:</label>
                    <input type="number" id="group_id" [(ngModel)]="CreatUser.group_id" name="group_id" />
                </div>
                <div>
                    <label for="role">Роль:</label>
                    <input type="text" id="role" [(ngModel)]="CreatUser.role" name="role" />
                </div>
                <button type="submit">Добавить юзерв</button>
            </form>
        </div>
        <hr>

        <h1 class="title">Получить иформацию по таблиwе где лежат ID юзеров и их вариаты ответов:<em>answers</em></h1>
        <div class="getQuestions">
            <form>
                <div *ngIf="questions">
                    <h2>Вопрос</h2>
                    <ul>
                        <li *ngFor="let answer of Ansswers">
                            это ID вопроса :<strong>{{ answer.id }}</strong> - ID юзера {{ answer.user_id }} -- это имя
                            группы {{ answer.group_name }}
                        </li>
                    </ul>
                </div>
                <button (click)="getAnswers()">Получить иформацию</button>
            </form>
        </div>
        <hr>

        <h1 class="title">ВАЖНО ПРОСТО ТАК НЕ ТЫКАТЬ Очистить ответы юзеров в таблице(answers):<em>answers</em></h1>
        <div class="ClearAnsvers">
            <button (click)="ClearAnswers()">Очистить ТО ЧТО ВЫБРАЛИ ВСЕ ЮЗЕРЫ</button>
        </div>
    </div>

</div>