<div class="container">
    <div *ngIf="!isAdmin" class="login">
        <form *ngIf="!token" (ngSubmit)="login()">
            <input type="text" placeholder="Username" [(ngModel)]="username" name="username" />
            <input type="password" placeholder="Password" [(ngModel)]="password" name="password" />
            <button type="submit">Log in</button>
        </form>


        <div class="table-container" class="questionsr">

            <form *ngIf="token" (ngSubmit)="onSubmit()">
                <div *ngFor="let question of questions; let i = index">
                    <h2> {{ i + 1 }}: {{ question.question }}</h2>
                    <label>
                        <input type="radio" name="{{ 'answer' + i }}" [value]="1" [(ngModel)]="answers[i]" />
                        {{ question.option1 }}
                    </label>
                    <br />
                    <label>
                        <input type="radio" name="{{ 'answer' + i }}" [value]="2" [(ngModel)]="answers[i]" />
                        {{ question.option2 }}
                    </label>
                    <br />
                    <label>
                        <input type="radio" name="{{ 'answer' + i }}" [value]="3" [(ngModel)]="answers[i]" />
                        {{ question.option3 }}
                    </label>
                    <br />
                    <label>
                        <input type="radio" name="{{ 'answer' + i }}" [value]="4" [(ngModel)]="answers[i]" />
                        {{ question.option4 }}
                    </label>
                    <br />
                    <label>
                        <input type="radio" name="{{ 'answer' + i }}" [value]="5" [(ngModel)]="answers[i]" />
                        {{ question.option5 }}
                    </label>
                    <br />
                </div>
                <button *ngIf="showSubmitButton" type="submit" [disabled]="!isFormValid()"
                    [class.not-allowed-icon]="!isFormValid()">
                    Отправить
                </button>
            </form>
        </div>

    </div>
    <div class="table-container" *ngIf="token && username === 'admin'">
        <p style="font-weight: bold; text-align: center;">Количество пользователей, которые прошли тест: {{ userCount }}
        </p>
        <h2>Пользователи, которые не прошли тест:</h2>
        <ul>
            <li *ngFor="let user of usersNotCompleted">{{ user }}</li>
        </ul>
        <table>
            <tr>
                <th>Вопрос</th>
                <th>Полностью согласен</th>
                <th>Скорее согласен</th>
                <th>Отчасти согласен, отчасти нет</th>
                <th>Полностью не согласен</th>
                <th>Затрудняюсь ответить, не могу оценить</th>
            </tr>
            <tr *ngFor="let result of results">
                <td>{{ result.question }}</td>
                <td>{{ result.option1_count }}</td>
                <td>{{ result.option2_count }}</td>
                <td>{{ result.option3_count }}</td>
                <td>{{ result.option4_count }}</td>
                <td>{{ result.option5_count }}</td>
            </tr>
        </table>
        <br>
        <hr>


        <h1 class="title">Получить пользователей из таблицы</h1>
        <div class="form-container">
            <label for="table-name">Имя таблицы:</label>
            <input [(ngModel)]="tableName" name="tableName" />
            <button (click)="getUsers(tableName)">Получить</button>
            <ul>
                <li *ngFor="let user of users">{{ user.username }}</li>
            </ul>
        </div>
        <hr>

        <h1 class="title">Это список всех доступных таблиц</h1>
        <div class="tablesList">
            <h2>Список таблиц</h2>
            <ul>
                <li *ngFor="let table of tables">{{ table }}</li>
            </ul>
            <button (click)="GetTables()">Получить таблицы</button>

        </div>
        <hr>

        <h1 class="title">Изменить пароль юзеру</h1>
        <div class="ChangeUserPassword">
            <form (ngSubmit)="changePassword()" #changePasswordForm="ngForm">
                <div>
                    <label for="tableName_change_password">Имя таблице в которой хранится юзер:</label>
                    <input type="text" id="createtableName" [(ngModel)]="tableName_change_password"
                        name="tableName_change_password" required>
                </div>
                <div>
                    <label for="createusername">Username:</label>
                    <input type="text" id="createusername" [(ngModel)]="createusername" name="createusername" required>
                </div>
                <div>
                    <label for="new-password">Новый Password:</label>
                    <input type="text" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>
                </div>
                <button type="submit">Изменить</button>
            </form>
        </div>
        <hr>

        <h1 class="title">Добавить новый вопрос в указанную таблицу</h1>
        <div class="addQuestion">
            <form (submit)="addQuestion()">
                <div>
                    <label for="tableName">Имя таблицы:</label>
                    <input type="text" id="tableName" [(ngModel)]="tableName1" name="tableName">
                </div>
                <div>
                    <label for="question">Вопрос:</label>
                    <input type="text" id="question" [(ngModel)]="question" name="question">
                </div>
                <div>
                    <label for="option1">Вариант ответа 1:</label>
                    <input type="text" id="option1" [(ngModel)]="option1" name="option1">
                </div>
                <div>
                    <label for="option2">Вариант ответа 2:</label>
                    <input type="text" id="option2" [(ngModel)]="option2" name="option2">
                </div>
                <div>
                    <label for="option3">Вариант ответа 3:</label>
                    <input type="text" id="option3" [(ngModel)]="option3" name="option3">
                </div>
                <div>
                    <label for="option4">Вариант ответа 4:</label>
                    <input type="text" id="option4" [(ngModel)]="option4" name="option4">
                </div>
                <div>
                    <label for="option5">Вариант ответа 5:</label>
                    <input type="text" id="option5" [(ngModel)]="option5" name="option5">
                </div>
                <button type="submit">Добавить вопрос</button>
            </form>
        </div>
        <hr>


        <h1 class="title">Создать новую таблицу(ы)</h1>
        <div class="createTables">
            <form (ngSubmit)="createTables()" #createTablesForm="ngForm">
                <label for="NewtableName">Имя таблицы с вопросами и ответами на них:</label>
                <input type="text" id="NewtableName" [(ngModel)]="NewtableName" name="NewtableName">
                <label for="answersName">Имя таблицы где будут храниться ответы юзеров:</label>
                <input type="text" id="answersName" [(ngModel)]="answersName" name="answersName">
                <label for="users_create_tables">Имя таблицы с юзерами:</label>
                <input type="text" id="users_create_tables" [(ngModel)]="users_create_tables"
                    name="users_create_tables">
                    <br>
                <button type="submit">Создать таблицы</button>
            </form>
        </div>

        <h1 class="title">Получить ID вопроса в указанной таблице с вопросами</h1>
        <div class="getQuestions">
            <form (submit)="getQuestions()">
                <label for="tableName">Имя таблицы в которой лежит вопрос:</label>
                <input type="text" id="tableName" [(ngModel)]="tableName2" name="tableName">
                <div *ngIf="questions">
                    <h2>Вопрос</h2>
                    <ul>
                        <li *ngFor="let question of Squestions">
                            ID:<strong>{{ question.id }}</strong> -{{ question.question }}
                        </li>
                    </ul>
                </div>
                <button type="submit">Получить список вопросов</button>
            </form>
        </div>
        <hr>

        <h1 class="title">Обновить вопрос и ответы на него</h1>
        <div class="updateQuestion">
            <form (submit)="updateQuestion()">
                <label for="tableName">Введите имя таблицы в которой лежит ваш вопрос:</label>
                <input type="text" id="tableName" [(ngModel)]="tableName2" name="tableName">
                <label for="questionId">Введите ID вопроса:</label>
                <input type="number" id="questionId" [(ngModel)]="questionId" name="questionId">
                <br>Чтобы получить ID вопроса см пункт Получить ID вопроса в указанной таблице с вопросами<br>
                <label for="question">Новый текст вопроса:</label>
                <input type="text" id="question" [(ngModel)]="question" name="question">
                <label for="option1">Вариант ответа 1:</label>
                <input type="text" id="option1" [(ngModel)]="option1" name="option1">
                <label for="option2">Вариант ответа 2:</label>
                <input type="text" id="option2" [(ngModel)]="option2" name="option2">
                <label for="option3">Вариант ответа 3:</label>
                <input type="text" id="option3" [(ngModel)]="option3" name="option3">
                <label for="option4">Вариант ответа 4:</label>
                <input type="text" id="option4" [(ngModel)]="option4" name="option4">
                <label for="option5">Вариант ответа 5:</label>
                <input type="text" id="option5" [(ngModel)]="option5" name="option5">
                <br>
                <button type="submit">Обновить вопрос</button>
            </form>
        </div>
        <hr>
        <h1 class="title">Создать нового юзера в указанной таблице</h1>
        <div class="createUsers">
            <form (ngSubmit)="createUsers()">
                <label for="createtableName">Имя таблицы куда добавить юзера:</label>
                <input type="text" id="createtableName" [(ngModel)]="createtableName" name="createtableName" required>

                <label for="createusername">Username:</label>
                <input type="text" id="createusername" [(ngModel)]="createusername" name="createusername" required>

                <label for="createpassword">Password:</label>
                <input type="createpassword" id="createpassword" [(ngModel)]="createpassword" name="createpassword"
                    required>

                <label for="createrole">Role:</label>
                <input type="text" id="role" [(ngModel)]="createrole" name="createrole" required>
                <br>
                <button type="submit">Добавить</button>
            </form>
        </div>
        <hr>

        <h1 class="title">Получить иформацию по таблиwе где лежат ID юзеров и их вариаты ответов(Ansswers)</h1>
        <div class="getQuestions">
            <form (submit)="getAnswers()">
                <label for="tableName">Имя таблицы в которой лежит вопрос:</label>
                <input type="text" id="tableName" [(ngModel)]="tableName2" name="tableName">
                <div *ngIf="questions">
                    <h2>Вопрос</h2>
                    <ul>
                        <li *ngFor="let answer of Ansswers">
                            ID:<strong>{{ answer.id }}</strong> -{{ answer.user_id }} -- {{ answer.question_id  }}
                        </li>
                    </ul>
                </div>
                <button type="submit">Получить иформацию</button>
            </form>
        </div>
        <hr>

        <h1 class="title">Очистить ответы юзеров в таблице(Ansswers)</h1>
        <form #clearTableForm="ngForm" (ngSubmit)="Clear(clearTableForm)">
            <div>
                <label for="tableName">Table Name:</label>
                <input type="text" id="tableName" name="tableName" ngModel required>
            </div>
            <button type="submit">Clear Table</button>
        </form>
    </div>

</div>