<div class="container">
<div *ngIf="!isAdmin" class="login">
    <form *ngIf="!token" (ngSubmit)="login()">
      <input type="text" placeholder="Username" [(ngModel)]="username" name="username" />
      <input type="password" placeholder="Password" [(ngModel)]="password" name="password" />
      <button type="submit">Log in</button>
    </form>


<div class="table-container" class="questionsr" >

    <form *ngIf="token" (ngSubmit)="onSubmit()">
        <div *ngFor="let question of questions; let i = index">
            <h2> {{ i + 1 }}: {{ question.question }}</h2>
            <label>
                <input type="radio" name="{{ 'answer' + i }}" [value]="1" [(ngModel)]="answers[i]" />
                {{ question.option1 }}
            </label>
            <br />
            <label>
                <input type="radio" name="{{ 'answer' + i }}" [value]="2" [(ngModel)]="answers[i]" />
                {{ question.option2 }}
            </label>
            <br />
            <label>
                <input type="radio" name="{{ 'answer' + i }}" [value]="3" [(ngModel)]="answers[i]" />
                {{ question.option3 }}
            </label>
            <br />
            <label>
                <input type="radio" name="{{ 'answer' + i }}" [value]="4" [(ngModel)]="answers[i]" />
                {{ question.option4 }}
            </label>
            <br />
            <label>
                <input type="radio" name="{{ 'answer' + i }}" [value]="5" [(ngModel)]="answers[i]" />
                {{ question.option5 }}
            </label>
            <br />
        </div>
        <button  *ngIf="showSubmitButton" type="submit" [disabled]="!isFormValid()"
            [class.not-allowed-icon]="!isFormValid()">
            Отправить
        </button>
    </form>
</div>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

</div>
<div class="table-container" *ngIf="token && username === 'admin'">
    <p style="font-weight: bold; text-align: center;">Количество пользователей, которые прошли тест: {{ userCount }}</p>
    <h2>Пользователи, которые не прошли тест:</h2>
    <ul>
        <li *ngFor="let user of usersNotCompleted">{{ user }}</li>
    </ul>
    <table>
        <tr>
            <th>Вопрос</th>
            <th>Полностью согласен</th>
            <th>Скорее согласен</th>
            <th>Отчасти согласен, отчасти нет</th>
            <th>Полностью не согласен</th>
            <th>Затрудняюсь ответить, не могу оценить</th>
        </tr>
        <tr *ngFor="let result of results">
            <td>{{ result.question }}</td>
            <td>{{ result.option1_count }}</td>
            <td>{{ result.option2_count }}</td>
            <td>{{ result.option3_count }}</td>
            <td>{{ result.option4_count }}</td>
            <td>{{ result.option5_count }}</td>
        </tr>
    </table>
    <br>
    <!-- <input type="text" [(ngModel)]="username" placeholder="Username" />
    <input type="password" [(ngModel)]="newPassword" placeholder="New Password" />
    <button (click)="changePassword(username, newPassword)">Change Password</button> -->
    <table>
        <tr>
            <th>Username</th>
            <th>Password</th>
        </tr>

        <tr *ngFor="let user of users">
            <td>{{ user.username }}</td>
            <td>{{ user.password }}</td>
        </tr>
    </table>
   
    <br>
    <h1>Изменение пароля пользователя</h1>
    <form (ngSubmit)="changePassword()">
      <label for="username">Имя пользователя:</label>
      <input type="text" id="username" [(ngModel)]="EditUsername" name="username" />
      <br />
      <label for="newPassword">Новый пароль:</label>
      <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" />
      <br />
      <button type="submit">Изменить пароль</button>
    </form>
    
</div>
</div>