body {
  margin: 0;
  padding: 0;
}

.questionsr form {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
}


label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.message {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #4CAF50;
  text-align: center;
  margin: 20px;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

form h2 {
  text-align: left;
}


input {
  width: 80%;
  max-width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

button {
  width: 50%;
  max-width: 150px;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* ... other styles ... */
/* styles.css */


button[disabled] {
  cursor: not-allowed;
}

.not-allowed-icon {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/1d/No_Symbol.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

button[type="submit"]:hover {
  background-color: #45a049;
}



.table-container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

@media (max-width: 600px) {

  table,
  th,
  td {
    font-size: 14px;
    padding: 4px;
    text-align: center
  }
}

.container {
  max-width: 50%;
  margin: auto;
}

.table-name {
  background-color: #f0f8ff;
  padding: 10px;
}

.ChangeUserPassword {
  background-color: #f5f5dc;
  padding: 10px;
}

.tablesList {
  background-color: #e6e6fa;
  padding: 10px;
}

.addQuestion {
  background-color: #fffacd;
  padding: 10px;
}

.createTables {
  background-color: #f0f8ff;
  padding: 10px;
}

.getQuestions {
  background-color: #f5f5dc;
  padding: 10px;
}

.updateQuestion {
  background-color: #e6e6fa;
  padding: 10px;
}

@media (max-width: 500px) {
  .container {
    max-width: 95%;
    margin: auto;
  }

  .questionsr {
    max-width: 100%;
    width: 100%;
    margin: auto;
    word-wrap: break-word;
  }

  .question {
    text-align: center;
    word-wrap: break-word;
  }

  .questionsr form {
    font-family: Arial, sans-serif;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%
  }

  button[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    max-width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
}

hr {
  border: none;
  border-top: 1px dashed #000;
  margin: 20px 0;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #4a86e8;
  text-shadow: 1px 1px #fff;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 20px;
  background-color: #33394646;
  padding: 10px;
}

.form-container label {
  font-size: 18px;
  margin-right: 10px;
}

.form-container input {
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.form-container button {
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.form-container button:hover {
  background-color: #3E8E41;
}

ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 18px;
}

ul li {
  margin-bottom: 10px;
}

.createUsers{
  background-color: #fffacd;
  padding: 10px;
}